This is a simple jinja template.

All variables defined in the Skillet will be available in the jinja context.

You variable value is: {{ SOME_VARIABLE }}.

You can use all the jinja expressions and operators as well.
